@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PROG3050_Team_Project.Models.FriendsViewModel
@using System.Net
<link rel="stylesheet" href="~/css/admin.css">



<a class="btn btn-secondary" asp-controller="User" asp-action="Friends" asp-route-memberId="@Model.CurrentMember.MemberID">Back to Friends and Family List </a>

<div class="text-center">
    <h1 class="display-4">Wishlist</h1>
    @* Checking if model is null or if database is empty *@
    @if (Model.WishList == null)
    {
        <p>Your wishlist is empty.</p>
    }
    else
    {
        @if (Model.WishList.Games != null && Model.WishList.Games.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Game Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model.WishList.Games)
                    {
                        <tr>
                            <td>@game.Title</td>
                            <td>@game.Price.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Your wishlist is empty.</p>
        }
    }
</div>