@model PROG3050_Team_Project.Models.Member

@{
    ViewData["Title"] = "Log In";
}

<div class="text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 class="display-4">Log In</h1>

    <form asp-action="Index" asp-controller="LogIn" method="post">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" style="width: 400px;" required />
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" style="width: 400px;" required />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <script>
        console.log('@ViewBag.ConsoleMessage');
    </script>
</div>

