@model PROG3050_Team_Project.Models.Game
@{
    ViewData["Title"] = "Add Game";
}
<link rel="stylesheet" href="~/css/adminAddEdit.css">

<div class="brand-logo">
    <div class="game">GAME</div>
    <div class="void">VOID</div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">Back to Game List</a>

<div class="text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 class="display-4">Add Game</h1>

<div class="add-box"> 
    <form asp-action="AddGame" asp-controller="Admin" method="post">
     <div class="form-group">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Enter Title" required />
        </div>
        <br />

         <div class="form-group">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" rows="4" placeholder="Enter Description" required></textarea>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Platform" class="form-label">Platform</label>
            <input asp-for="Platform" class="form-control" placeholder="Enter Platform" required />
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Category" class="form-label">Category</label>
            <input asp-for="Category" class="form-control" placeholder="Enter Category" required />
        </div>
        <br />

        <div class="form-group">
            <label asp-for="ReleaseDate" class="form-label">Release Date</label>
            <input asp-for="ReleaseDate" class="form-control" placeholder="Enter Release Date" required />
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control" placeholder="Enter Price" required />
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Rating" class="form-label">Rating</label>
            <input asp-for="Rating" class="form-control" placeholder="Enter Rating" required />
        </div>
        <br />
    <br />

    <div class="form-group">
        <label asp-for="IsDownloadable" class="form-label">Is Downloadable</label>
        <input asp-for="IsDownloadable" class="text-center" placeholder="Yes/No" />
    </div>
    <br />
        <br />
        <button type="submit" class="btn btn-primary">Add Game</button><br />
    </form>
</div>
</div>

