@model PROG3050_Team_Project.Models.Member

@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 class="display-4">Admin Panel</h1>

</div>

